body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#usdAmount {
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: darkkhaki;
  border-radius: 5px;
  border: 1px solid darkkhaki;
  margin-left: 1rem;
  color: #f4f4f4;
}
