body {
  font-family: "Times New Roman", Times, serif;
  margin-left: 3rem;
  padding: 0;
  background-color: #f4f4f4;
}

#height {
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
  margin-left: 5.5rem;
  padding: 0.5rem;
  background-color: rgb(43, 226, 98);
  border: 1px solid rgb(43, 226, 98);
  color: white;
  font-size: 1rem;
}

input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
}
#weight {
  font-size: 1rem;
}
