body {
    font-family: Arial, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

button {
    padding: 0.4rem;
    border-color: blue;
    background-color: blue;
    color: white;
}

input[type="text"] {
    padding: 0.4rem;
}